.DS_Store
._*
__pycache__/
*.py[cod]
*.o
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.dll
*.mod
*.x
.libs/
.deps/
lib/
autom4te.cache/
build/
.dirstamp
stamp-h1
config.log
config.status
libtool
Makefile
compile_commands.json

workflow/dispol/*.run
workflow/dispol/*.log
workflow/dispol/*.out
workflow/dispol/*.yoda
workflow/dispol/*.yoda.gz
workflow/dispol/*.tex
workflow/dispol/*.csv
workflow/dispol/*.html
workflow/dispol/campaigns/
workflow/dispol/cards/*-SCALEDOWN.in
workflow/dispol/cards/*-SCALEUP.in

analyses/rivet/dis/*.yoda
analyses/rivet/dis/*.yoda.gz
analyses/rivet/dis/*__data.py
analyses/rivet/dis/*.html
analyses/rivet/dis/plots_*/

poldis/*.top
poldis/*.pdf
poldis/poldis.x

docs/paper/*.aux
docs/paper/*.bbl
docs/paper/*.blg
docs/paper/*.dep
docs/paper/*.fdb_latexmk
docs/paper/*.fls
docs/paper/*.log
docs/paper/*.out
docs/paper/*.pdf
docs/paper/*.toc
docs/paper/figures/
